sublimeText3/Index
sublimeText3/Cache
sublimeText3/Local
sublimeText3/Packages/User/Package\ Control.cache

sublimeText3/Packages/User/encoding_cache.json
sublimeText3/Packages/User/Package\ Control.last-run
sublimeText3/Installed\ Packages/PyV8/linux64-p3/config.json

sublimeText3/Backup


gdb/.gdb.history
gdb/.gdb.log
gdb/.gdb.bp
gdb/core.*
